#container {
  padding: 1rem;
  background-color: gray;
}

div {
  font-weight: 600;
  padding: 0.5rem;
  font-size: 1.1em;
  width: 150px;
  height: 150px;
  box-shadow: 7px 7px 0 0 #000;
}

.div-1 {
  background: orange;
}
.div-2 {
  background: tomato;
}
.div-3 {
  background: teal;
}
.div-4 {
  width: 80px;
  height: 80px;
  background-color: violet;
}

// position: absolute;を指定した場合、前にあるposition: relative;を基準に位置を変える
// z-indexはposition: static;以外で適用される
// z-indexをautoに設定すると、一番下になる
// position: fixed;に設定するとウインドウ基準に固定する（ヘッダーなどで使うやつ）
// positon: sticky;を設定すると、ウインドウスクロールで引っかかるようなデザインにできる overflow: hidden;が親要素にあった場合、stickyは効かなくなる